<h1> Welcome, <%=@user.name%></h1>
<ul>
    <% @user.cars.each do |kar| %>
        <li><a href="/car/<%=kar.id%>"><%= kar.make %>, <%= kar.model %>, <%= kar.year %> </a></li>
    <% end %>
</ul>
<br>
<a href="/new/car">Add Car</a>
<br>
<a href="/users/home">Home</a>
