<h1> Welcome, <%=@user.name%> </h1>

<%Car.all.each do |c| %>
  <li><a href="/car/<%=c.id%>"><%=c.user.name%>, <%=c.model%>, <%=c.make%>, <%=c.year%></a></li>
<%end%>


<br>
<a href="/garage"> |My Garage|</a>
<br>
<a href="/users/home">|Home|</a>
<br>
<a href="/logout"> |Log Out| </a>