<img  src="images/trackday.jpg" class="img-responsive main-image" >

<h1> Welcome, <%=@user.name.capitalize%></h1>
<ul>
    <% @user.cars.each do |kar| %>
        <li><a href="/cars/<%=kar.id%>"><%= kar.make %>, <%= kar.model %>, <%= kar.year %> </a></li>
    <% end %>
</ul>
<br>
<a href="/new/cars">Add Car</a>
<br>
<a href="/users/home">Home</a>
